<!DOCTYPE html>
<html>
<head> <title>Your choice </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link type="text/css"
    rel="stylesheet"
    href="Shrestha_Nista.css"/>
    
   
</head>

<body>
        <nav class="navHeader">
                A03Nista_Shrestha
                <a href="/Shrestha_Nista">Home Page</a>
                <a href="/Yourchoice">Your Choice</a>
                <a href="/Contacts">Contacts</a>
                <a href="guestbook">Guestbook</a>
          </nav>	
          <div class="container-fluid" >
                <div class="row">
                    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12"> 
    <form method="POST" action="contact" role="form" class="Contact">
        <h1> Contact Info</h1>
        <br>
        <h3> First Name<input type="text" id="fname" /></h3>
        
        <h3> Last Name<input type="text" id="lname" /></h3>
        
        <h3>Email<input type="text" id="email" name="email" /></h3>
        
        <h3>Any Comment or questions? </h3>
        <textarea name="message" rows="5" cols="60" id="comments"></textarea><br>

        <input type="Submit" >

    </form>
    </div>
    </div>
    </div>
    <footer>
            <nav>
                    <a href="https://github.com/s525389"> <img src ="github.png" alt="github" height = "35" width="35"></a>
                    <a href="https://bitbucket.org/s525389/"> <img src = "download.png" alt="bitbucket" height = "35" width ="35"></a>
                    <a href="https://www.linkedin.com/feed/"><img src= "linkedin.jpg" alt ="linkedin" height ="35" width ="35"></a>
                    <a href="https://www.google.com/"><img src= "12.png" alt="google" height ="35" width ="35"></a>
  
              </nav>
                  	  
</footer>
</body>
</html>