
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>W07 Guestbook</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<link rel="stylesheet" href="/guestbook.css">
</head>
<body class="container">
<h1>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>
<nav class="navHeader">
    A03Nista_Shrestha
   <a href="/Shrestha_Nista">Home Page</a>
   <a href="/Yourchoice">Your Choice</a>
   <a href="/Contacts">Contacts</a>
   <a href="guestbook">Guestbook</a> 
   
   
</nav>
</body>
</html>