<!DOCTYPE html>
<HTML> 
<head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            
<link type="text/css"
      rel="stylesheet"
        href="Shrestha_Nista.css"/>
       
           
<Title> Nista </Title>
</head>
<body>
            <nav class="navHeader">
                         A03Nista_Shrestha
                        <a href="/Shrestha_Nista">Home Page</a>
                        <a href="/Yourchoice">Your Choice</a>
                        <a href="/Contacts">Contacts</a>
                        <a href="guestbook">Guestbook</a> 
                        
                        
                  </nav>	  

<div id="photo">
      <img src = "Nista.jpg" class = "img-circle" alt="nista" height = "200" width="200" style="float:right;">
</div> 
<header><h1 id="h1"> About Me</h1> </header>           
<div class = "container-fluid">

<div class="row">
      <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
                  <h2 class ="h2"> My Background </h2>
                  <p> I am a transfer student to Northwest Missouri State University. <br>I am currently a senior at NWMSU pursuing my carrier in Computer Science.<br>During this summer, I worked as an intern for one of the company in Kansas City as Software developer.</p>
                  <h2 class="h2"> Plans </h2>
                  <p> I want to work as Software developer for top companies.</p>
                  
                  <h2 class="h2"> Interests </h2>
                  <p> I enjoying playing video games.<br> I enjoy listening to musics.<br> I personally like Google as my favorite web site.<br> </p>
      </div>
           <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
                 
<iframe width="300" height="250" src="https://www.youtube.com/embed/wxQR5kokq68" style="float:right;"></iframe> 
           </div>
            </div>
</div>



<footer>
            <nav>
                  <a href="https://github.com/s525389"> <img src ="github.png" alt="github" height = "35" width="35"></a>
                  <a href="https://bitbucket.org/s525389/"> <img src = "download.png" alt="bitbucket" height = "35" width ="35"></a>
                  <a href="https://www.linkedin.com/feed/"><img src= "linkedin.jpg" alt ="linkedin" height ="35" width ="35"></a>
                  <a href="https://www.google.com/"><img src= "12.png" alt="google" height ="35" width ="35"></a>

            </nav>
                  	  
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</HTML>