body{
    background-image: url("ni.jpg");
    margin: 25px;
    padding: 65px;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    color: green;
}
.navHeader{
	background-color: black;
	width: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
	padding: 0px;
	font-size: 150%;
	position: fixed;
}
nav {
	color:yellow;
	text-decoration: underline;
	font-style: normal;
	font-weight: Bold;
	
	width: 100%;
	padding: 0px;
}